# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/go.imports.xml
/copilot.data.migration.ask2agent.xml
/Banka-3-Backend.iml
/vcs.xml
